/Class/Cpp Template/dist/
/Class/Cpp Template/build/
/Class/Hello World/build/
/Class/Hello World/dist/
/Class/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/dist/
/Class/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/build/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/build/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob1_SumofTwoNum/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob1_SumofTwoNum/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob5_AvgofValues/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob5_AvgofValues/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob14_PersonalInfo/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob14_PersonalInfo/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob16_TrianglePttrn/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob16_TrianglePttrn/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob7_OceanLevels/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob7_OceanLevels/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob17_StockCommis/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob17_StockCommis/dist/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob4_FreeFall/dist/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob4_FreeFall/build/
/Class/Wrong Result/dist/
/Class/Wrong Result/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob3_SalesTax/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob3_SalesTax/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob4_RestaurantBill/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob4_RestaurantBill/dist/
