/Class/Cpp Template/dist/
/Class/Cpp Template/build/
/Class/Hello World/build/
/Class/Hello World/dist/
/Class/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/dist/
/Class/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/build/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/build/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob1_SumofTwoNum/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob1_SumofTwoNum/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob5_AvgofValues/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob5_AvgofValues/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob14_PersonalInfo/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob14_PersonalInfo/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob16_TrianglePttrn/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob16_TrianglePttrn/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob7_OceanLevels/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob7_OceanLevels/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob17_StockCommis/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob17_StockCommis/dist/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob4_FreeFall/dist/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob4_FreeFall/build/
/Class/Wrong Result/dist/
/Class/Wrong Result/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob3_SalesTax/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob3_SalesTax/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob4_RestaurantBill/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob4_RestaurantBill/dist/
/Lab/Lab Assignment Percentages/build/
/Lab/Lab Assignment Percentages/dist/
/Class/test/build/
/Class/test/dist/
/Lab/Lab Assignment Optimal Choice for Filling Your Vehicle/build/
/Lab/Lab Assignment Optimal Choice for Filling Your Vehicle/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars/build/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars/dist/
/Class/ScoreVSGrade/dist/
/Class/ScoreVSGrade/build/
/Class/ScoreVSGrade_V2/build/
/Class/ScoreVSGrade_V2/dist/
/Class/Savitch_10thEd_Chap2_Prob16_HaircutType/build/
/Class/Savitch_10thEd_Chap2_Prob16_HaircutType/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_Ternary/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_Ternary/build/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IfElse/build/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IfElse/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IndepIf/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IndepIf/build/
/Class/ScoreVSGrade_V2_Ternary/build/
/Class/ScoreVSGrade_V2_Ternary/dist/
/Class/ScoreVSGrade_V2_DependentIf/build/
/Class/ScoreVSGrade_V2_DependentIf/dist/
/Class/ScoreVSGrade_V2_IndependentIf/dist/
/Class/ScoreVSGrade_V2_IndependentIf/build/
/Lab/Truth Table/build/
/Lab/Truth Table/dist/
/Class/ScoreVSGrade_V2_SwitchCase/build/
/Class/ScoreVSGrade_V2_SwitchCase/dist/
/Class/ScoreVSGrade_V2_SwitchCase_1/build/
/Class/ScoreVSGrade_V2_SwitchCase_1/dist/
/Class/MenuSwitchCase/build/
/Class/MenuSwitchCase/dist/
/Class/MenuSwitchCase_Example/build/
/Class/MenuSwitchCase_Example/dist/
/Class/Gaddis_9thEd_Chap3_Prob20_Trig/build/
/Class/Gaddis_9thEd_Chap3_Prob20_Trig/dist/
/Class/Savitch_9thEd_Chap2_Prob9_Sums/build/
/Class/Savitch_9thEd_Chap2_Prob9_Sums/dist/
/Class/Gaddis_9thEd_Chap3_Prob7_Cookies/build/
/Class/Gaddis_9thEd_Chap3_Prob7_Cookies/dist/
/Class/Gaddis_9thEd_Chap3_Prob3_Average/build/
/Class/Gaddis_9thEd_Chap3_Prob3_Average/dist/
/Lab/OptimalFillUp/build/
/Lab/OptimalFillUp/dist/
/Hmwk/Gaddis_9thEd_Chap3_Prob10_Temp/build/
/Hmwk/Gaddis_9thEd_Chap3_Prob10_Temp/dist/
/Hmwk/Savitch_9thEd_Chap2_Prob2_Pay/build/
/Hmwk/Savitch_9thEd_Chap2_Prob2_Pay/dist/
/Hmwk/Gaddis_9thEd_Chap3_Prob8_Insurance/build/
/Hmwk/Gaddis_9thEd_Chap3_Prob8_Insurance/dist/
/Hmwk/Savitch_9thEd_Chap2_Prob5_Room/build/
/Hmwk/Savitch_9thEd_Chap2_Prob5_Room/dist/
/Hmwk/Paycheck/dist/
/Hmwk/Paycheck/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob8_Insurance/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob8_Insurance/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob10_Temp/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob10_Temp/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob20_Trig/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob20_Trig/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob2_Pay/dist/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob2_Pay/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob5_Room/dist/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob5_Room/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob9_Sums/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob9_Sums/dist/
/Class/Assignment_2/Paycheck/dist/
/Class/Assignment_2/Paycheck/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob7_Cookies/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob7_Cookies/build/
/Class/Gaddis_9thEd_Chap4_Prob8_SortNames/build/
/Class/Gaddis_9thEd_Chap4_Prob8_SortNames/dist/
/Class/Gaddis_9thEd_Chap4_Prob11_Books/build/
/Class/Gaddis_9thEd_Chap4_Prob11_Books/dist/
/Class/Gaddis_9thEd_Chap4_Prob12_BankCharges/build/
/Class/Gaddis_9thEd_Chap4_Prob12_BankCharges/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/dist/
/Class/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/build/
/Class/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb1_RockPaperScissors/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb1_RockPaperScissors/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob14_Race/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob14_Race/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb4_CompatibleSigns/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb4_CompatibleSigns/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/dist/
/Hmwk/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/dist/
/Hmwk/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/build/
/Hmwk/Assignment_1/Gaddis_9thEd_Chap3_Prob3_Average/build/
/Hmwk/Assignment_1/Gaddis_9thEd_Chap3_Prob3_Average/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob1_Sum/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob1_Sum/dist/
/Class/MenuSwitchCase_doWhile/build/
/Class/MenuSwitchCase_doWhile/dist/
/Class/SavingsInflationCalculator/build/
/Class/SavingsInflationCalculator/dist/
/Class/SavingsInflationCalculator_ForLoop/build/
/Class/SavingsInflationCalculator_ForLoop/dist/
/Class/SavingsInflationCalculator_V2_FileOutput/build/
/Class/SavingsInflationCalculator_V2_FileOutput/dist/
/Class/SavingsInflationCalculator_V3_FileInOut/dist/
/Class/SavingsInflationCalculator_V3_FileInOut/build/
/Class/SavingsInflationCalculator_WhileLoop/build/
/Class/SavingsInflationCalculator_WhileLoop/dist/
/Class/SavingsInflationCalculator_DoLoop/build/
/Class/SavingsInflationCalculator_DoLoop/dist/
/Class/Pennies/build/
/Class/Pennies/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob13_MinMax/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob13_MinMax/dist/
/Lab/Menu and Truth Table/Truth Table/build/
/Lab/Menu and Truth Table/Truth Table/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob23_Pattern/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob23_Pattern/dist/
/Hmwk/Assignment_4/Savitch_9thEd_Chap4_Prob1_MPG/build/
/Hmwk/Assignment_4/Savitch_9thEd_Chap4_Prob1_MPG/dist/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob9_2or3Max/build/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob9_2or3Max/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob7_PayInPennies/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob7_PayInPennies/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob22_Rectangle/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob22_Rectangle/dist/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob5_EstCost/build/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob5_EstCost/dist/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob4_Inflation/build/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob4_Inflation/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_Prob1_DietCoke/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_Prob1_DietCoke/dist/
/Hmwk/Menu for Homework Assignment 4/build/
/Hmwk/Menu for Homework Assignment 4/dist/
