/Class/Cpp Template/dist/
/Class/Cpp Template/build/
/Class/Hello World/build/
/Class/Hello World/dist/
/Class/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/dist/
/Class/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/build/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/build/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob5_BannerC/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob1_SumofTwoNum/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob1_SumofTwoNum/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob5_AvgofValues/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob5_AvgofValues/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob14_PersonalInfo/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob14_PersonalInfo/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob16_TrianglePttrn/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob16_TrianglePttrn/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob7_OceanLevels/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob7_OceanLevels/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob17_StockCommis/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob17_StockCommis/dist/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob4_FreeFall/dist/
/Class/Assignment_1/Savitch_9thEd_Chap1_PracProg_Prob4_FreeFall/build/
/Class/Wrong Result/dist/
/Class/Wrong Result/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob3_SalesTax/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob3_SalesTax/dist/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob4_RestaurantBill/build/
/Class/Assignment_1/Gaddis_9thEd_Chap2_PracProg_Prob4_RestaurantBill/dist/
/Lab/Lab Assignment Percentages/build/
/Lab/Lab Assignment Percentages/dist/
/Class/test/build/
/Class/test/dist/
/Lab/Lab Assignment Optimal Choice for Filling Your Vehicle/build/
/Lab/Lab Assignment Optimal Choice for Filling Your Vehicle/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars/build/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars/dist/
/Class/ScoreVSGrade/dist/
/Class/ScoreVSGrade/build/
/Class/ScoreVSGrade_V2/build/
/Class/ScoreVSGrade_V2/dist/
/Class/Savitch_10thEd_Chap2_Prob16_HaircutType/build/
/Class/Savitch_10thEd_Chap2_Prob16_HaircutType/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_Ternary/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_Ternary/build/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IfElse/build/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IfElse/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IndepIf/dist/
/Class/Savitch_10thEd_Chap2_Prob13_CandyBars_IndepIf/build/
/Class/ScoreVSGrade_V2_Ternary/build/
/Class/ScoreVSGrade_V2_Ternary/dist/
/Class/ScoreVSGrade_V2_DependentIf/build/
/Class/ScoreVSGrade_V2_DependentIf/dist/
/Class/ScoreVSGrade_V2_IndependentIf/dist/
/Class/ScoreVSGrade_V2_IndependentIf/build/
/Lab/Truth Table/build/
/Lab/Truth Table/dist/
/Class/ScoreVSGrade_V2_SwitchCase/build/
/Class/ScoreVSGrade_V2_SwitchCase/dist/
/Class/ScoreVSGrade_V2_SwitchCase_1/build/
/Class/ScoreVSGrade_V2_SwitchCase_1/dist/
/Class/MenuSwitchCase/build/
/Class/MenuSwitchCase/dist/
/Class/MenuSwitchCase_Example/build/
/Class/MenuSwitchCase_Example/dist/
/Class/Gaddis_9thEd_Chap3_Prob20_Trig/build/
/Class/Gaddis_9thEd_Chap3_Prob20_Trig/dist/
/Class/Savitch_9thEd_Chap2_Prob9_Sums/build/
/Class/Savitch_9thEd_Chap2_Prob9_Sums/dist/
/Class/Gaddis_9thEd_Chap3_Prob7_Cookies/build/
/Class/Gaddis_9thEd_Chap3_Prob7_Cookies/dist/
/Class/Gaddis_9thEd_Chap3_Prob3_Average/build/
/Class/Gaddis_9thEd_Chap3_Prob3_Average/dist/
/Lab/OptimalFillUp/build/
/Lab/OptimalFillUp/dist/
/Hmwk/Gaddis_9thEd_Chap3_Prob10_Temp/build/
/Hmwk/Gaddis_9thEd_Chap3_Prob10_Temp/dist/
/Hmwk/Savitch_9thEd_Chap2_Prob2_Pay/build/
/Hmwk/Savitch_9thEd_Chap2_Prob2_Pay/dist/
/Hmwk/Gaddis_9thEd_Chap3_Prob8_Insurance/build/
/Hmwk/Gaddis_9thEd_Chap3_Prob8_Insurance/dist/
/Hmwk/Savitch_9thEd_Chap2_Prob5_Room/build/
/Hmwk/Savitch_9thEd_Chap2_Prob5_Room/dist/
/Hmwk/Paycheck/dist/
/Hmwk/Paycheck/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob8_Insurance/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob8_Insurance/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob10_Temp/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob10_Temp/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob20_Trig/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob20_Trig/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob2_Pay/dist/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob2_Pay/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob5_Room/dist/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob5_Room/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob9_Sums/build/
/Class/Assignment_2/Savitch_9thEd_Chap2_Prob9_Sums/dist/
/Class/Assignment_2/Paycheck/dist/
/Class/Assignment_2/Paycheck/build/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob7_Cookies/dist/
/Class/Assignment_2/Gaddis_9thEd_Chap3_Prob7_Cookies/build/
/Class/Gaddis_9thEd_Chap4_Prob8_SortNames/build/
/Class/Gaddis_9thEd_Chap4_Prob8_SortNames/dist/
/Class/Gaddis_9thEd_Chap4_Prob11_Books/build/
/Class/Gaddis_9thEd_Chap4_Prob11_Books/dist/
/Class/Gaddis_9thEd_Chap4_Prob12_BankCharges/build/
/Class/Gaddis_9thEd_Chap4_Prob12_BankCharges/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/dist/
/Class/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/build/
/Class/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/dist/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/build/
/Class/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob8_SortNames/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob12_BankCharges/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb1_RockPaperScissors/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb1_RockPaperScissors/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob14_Race/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob14_Race/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/dist/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob23_ISP/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/build/
/Hmwk/Assignment_3/Gaddis_9thEd_Chap4_Prob11_Books/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb4_CompatibleSigns/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb4_CompatibleSigns/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/dist/
/Hmwk/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/dist/
/Hmwk/Savitch_9thEd_Chap3_Prob3_Roman_Conversion/build/
/Hmwk/Assignment_1/Gaddis_9thEd_Chap3_Prob3_Average/build/
/Hmwk/Assignment_1/Gaddis_9thEd_Chap3_Prob3_Average/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob1_Sum/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob1_Sum/dist/
/Class/MenuSwitchCase_doWhile/build/
/Class/MenuSwitchCase_doWhile/dist/
/Class/SavingsInflationCalculator/build/
/Class/SavingsInflationCalculator/dist/
/Class/SavingsInflationCalculator_ForLoop/build/
/Class/SavingsInflationCalculator_ForLoop/dist/
/Class/SavingsInflationCalculator_V2_FileOutput/build/
/Class/SavingsInflationCalculator_V2_FileOutput/dist/
/Class/SavingsInflationCalculator_V3_FileInOut/dist/
/Class/SavingsInflationCalculator_V3_FileInOut/build/
/Class/SavingsInflationCalculator_WhileLoop/build/
/Class/SavingsInflationCalculator_WhileLoop/dist/
/Class/SavingsInflationCalculator_DoLoop/build/
/Class/SavingsInflationCalculator_DoLoop/dist/
/Class/Pennies/build/
/Class/Pennies/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob13_MinMax/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob13_MinMax/dist/
/Lab/Menu and Truth Table/Truth Table/build/
/Lab/Menu and Truth Table/Truth Table/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob23_Pattern/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob23_Pattern/dist/
/Hmwk/Assignment_4/Savitch_9thEd_Chap4_Prob1_MPG/build/
/Hmwk/Assignment_4/Savitch_9thEd_Chap4_Prob1_MPG/dist/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob9_2or3Max/build/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob9_2or3Max/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob7_PayInPennies/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob7_PayInPennies/dist/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob22_Rectangle/build/
/Hmwk/Assignment_4/Gaddis_9thEd_Chap5_Prob22_Rectangle/dist/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob5_EstCost/build/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob5_EstCost/dist/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob4_Inflation/build/
/Hmwk/Assignment_4/Savitch_9Ed_Chap4_Prob4_Inflation/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_Prob1_DietCoke/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_Prob1_DietCoke/dist/
/Hmwk/Menu for Homework Assignment 4/build/
/Hmwk/Menu for Homework Assignment 4/dist/
/Class/MenuSwitchCase_doWhile_functions/build/
/Class/MenuSwitchCase_doWhile_functions/dist/
/Class/nFactorial/build/
/Class/nFactorial/dist/
/Class/etox_StudentApprox_V1/build/
/Class/etox_StudentApprox_V1/dist/
/Midterm/Size of Shapes_Cross, Back Slash, Forward Slash/build/
/Midterm/Size of Shapes_Cross, Back Slash, Forward Slash/dist/
/Midterm/Histogram/build/
/Midterm/ISP charges/build/
/Midterm/ISP charges/dist/
/Midterm/Histogram/dist/
/Midterm/Gross Paycheck Calculation/build/
/Midterm/Gross Paycheck Calculation/dist/
/Midterm/Numeric dollars to English equivalent/build/
/Midterm/Numeric dollars to English equivalent/dist/
/Midterm/Series Calculation/build/
/Midterm/Series Calculation/dist/
/Class/test2/build/
/Class/test2/dist/
/Series Calculation_V2/build/
/Series Calculation_V2/dist/
/Midterm/Menu for Exam/build/
/Midterm/Menu for Exam/dist/
/Hmwk/Assignment_5/MinMax/build/
/Hmwk/Assignment_5/MinMax/dist/
/Class/etox_StudentApprox_V2/build/
/Class/etox_StudentApprox_V2/dist/
/Class/etox_StudentApprox_V3/build/
/Class/etox_StudentApprox_V3/dist/
/Class/PIDartGame_RandomNumbers/build/
/Class/PIDartGame_RandomNumbers/dist/
/Class/PiSeries/build/
/Class/PiSeries/dist/
/Class/SavingsInflationCalculator_Functions/build/
/Class/SavingsInflationCalculator_Functions/dist/
/Hmwk/Assignment_5/Factorial/build/
/Hmwk/Assignment_5/Factorial/dist/
/Hmwk/Assignment_5/isPrime/build/
/Hmwk/Assignment_5/isPrime/dist/
/Hmwk/Assignment_5/Prob4_Collatz_Sequence/build/
/Hmwk/Assignment_5/Prob4_Collatz_Sequence/dist/
/Hmwk/Assignment_5/Savitch_10thEd_Chap5_Prob23_Time Clock/build/
/Hmwk/Assignment_5/Savitch_10thEd_Chap5_Prob23_Time Clock/dist/
/Hmwk/Assignment_5/Gaddis_9thEd_Chap6_Prob10_Average/build/
/Hmwk/Assignment_5/Gaddis_9thEd_Chap6_Prob10_Average/dist/
/Hmwk/Assignment_5/Gaddis_9thEd_Chap6_Prob9_Present_Value/build/
/Hmwk/Assignment_5/Gaddis_9thEd_Chap6_Prob9_Present_Value/dist/
/Hmwk/Assignment_5/Savitch_9thEd_Chap5_Prob1_TimeConverter/build/
/Hmwk/Assignment_5/Savitch_9thEd_Chap5_Prob1_TimeConverter/dist/
/Hmwk/Gaddis_9thEd_Chap6_Prob9_Present_Value/build/
/Hmwk/Gaddis_9thEd_Chap6_Prob9_Present_Value/dist/
/Hmwk/Menu_Assignment_5_/build/
/Hmwk/Menu_Assignment_5_/dist/
/Hmwk/Assignment_5/Savitch_10thEd_Chap5_Problem_Time_Clock/build/
/Hmwk/Assignment_5/Savitch_10thEd_Chap5_Problem_Time_Clock/dist/
/Class/SavingsInflationCalculator_ForLoop_ArrayV1/build/
/Class/SavingsInflationCalculator_ForLoop_ArrayV1/dist/
/Class/SavingsInflationCalculator_ForLoop_ArrayV2_MVC/build/
/Class/SavingsInflationCalculator_ForLoop_ArrayV2_MVC/dist/
/Proj/Project1_V1/build/
/Proj/Project1_V1/dist/
/Proj/Project_1/Project1_V1/build/
/Proj/Project_1/Project1_V1/dist/
/Proj/Project_1/Project1_V2/build/
/Proj/Project_1/Project1_V2/dist/
/Proj/Project_1/Project1_V3/build/
/Proj/Project_1/Project1_V3/dist/
/Class/test_2048/dist/
/Class/test_2048/build/
/Proj/Project_1/Project1_V4/build/
/Proj/Project_1/Project1_V4/dist/
/Proj/Project_1/Project1_V5/build/
/Proj/Project_1/Project1_V5/dist/
/Class/test1/build/
/Class/test1/dist/
/Hmwk/Assignment_6/Dice Table Sum/build/
/Hmwk/Assignment_6/Reverse Array Contents/build/
/Hmwk/Assignment_6/Prob7_Binary Search and Selection Sort/build/
/Hmwk/Assignment_6/Prob7_Binary Search and Selection Sort/dist/
/Class/test3/dist/
/Class/test3/build/
/Hmwk/Assignment_6/Dice Table Sum/dist/
/Hmwk/Assignment_6/Product Table/build/
/Hmwk/Assignment_6/Product Table/dist/
/Hmwk/Assignment_6/Reverse Array Contents/dist/
/Hmwk/Assignment_6/Grading like a Scantron/build/
/Hmwk/Assignment_6/Grading like a Scantron/dist/
/Final/F1 Validate and Reverse/dist/
/Final/F1 Validate and Reverse/build/
/Final/F5_Fill_EvenOdd_Vectors_2DArray/build/
/Final/F5_Fill_EvenOdd_Vectors_2DArray/dist/
/Final/F7_Search An Array For A Value/build/
/Final/F7_Search An Array For A Value/dist/
/Class/PrimeNumberTest/dist/
/Class/PrimeNumberTest/build/
/Hmwk/Menu_Assignment_6/build/
/Hmwk/Menu_Assignment_6/dist/
/Class/SavingsTable_ForLoop_Array_V4_ParallelArray/build/
/Class/SavingsTable_ForLoop_Array_V4_ParallelArray/dist/
/Class/SavingsTable_ForLoop_Array_V5_Functions/build/
/Class/SavingsTable_ForLoop_Array_V5_Functions/dist/
/Class/SavingsTable_ForLoop_Array_V6_Vectors/dist/
/Class/SavingsTable_ForLoop_Array_V6_Vectors/build/
/Class/MarkSort_V1/dist/
/Class/MarkSort_V1/build/
/Class/MarkSort_V2_FindSmallest/build/
/Class/MarkSort_V2_FindSmallest/dist/
/Class/MarkSort_V3_LoopToSort/build/
/Class/MarkSort_V3_LoopToSort/dist/
/Class/MarkSort_V4_1FunctionCombined/dist/
/Class/MarkSort_V4_1FunctionCombined/build/
/Class/SavingsInflationCalcuator_ForLoop_ArrayV5_Functions/dist/
/Class/SavingsInflationCalcuator_ForLoop_ArrayV5_Functions/build/
/Final/F4_MaxMinSumofIntArray/dist/
/Final/F4_MaxMinSumofIntArray/build/
/Final/F8_Sort using a 2 Dimension Array of characters/build/
/Final/F8_Sort using a 2 Dimension Array of characters/dist/
/Final/F3_Sort using a 2Dimension Array of characters/build/
/Final/F3_Sort using a 2Dimension Array of characters/dist/
